---
import {urlFor} from '../lib/sanity.ts'
import '../styles/CardList.css'
export type card = {
    headline: string,
    subheadline: string,
    text: string,
    image?: string,
    video?: string
}

export type cardList = {
    headline: string,
    cards: card[]
}

const {
    headline,
    cards = []
}=Astro.props as cardList
---

<section class="cardList">
    <h2>{headline}</h2>
    <div class="cardsGrid">
        {cards.map((carditem : card) => {
            return(
                    <article class="card">
                        <h3>{carditem.headline}</h3>
                        <a>{carditem.subheadline}</a>
                        {carditem.image &&
                                <a href="https://google.com">
                                    <img src={urlFor(carditem.image)} width="480" height="270" alt={headline} />
                                </a>
                        }
                        {carditem.video &&
                                <a href="">
                                    <video src={urlFor(carditem.video)} controls/>
                                </a>
                        }
                        <p class="text">{carditem.text}</p>
                    </article>)
        })}
    </div>
</section>