---
import {urlFor} from '../lib/sanity.ts'
import '../styles/Text.css'
import '../styles/Welcome.css'
import Text from "./Text.astro";
import {client} from "../lib/sanity";

const {
	headline,
	subHeadline,
	image = "image-justADefaultValue-2000x3000-jpg"
}=Astro.props

const introductionTextData = await client.fetch(`*[_type == "textType"][0]{
	text
}`)
---



<div>
	<section class="welcome" id="welcome">
		<div class ="headlines">
			<h1 class="text">{headline}</h1>
			<a class="text">{subHeadline}</a>
		</div>
	</section>
	<Text {...introductionTextData}/>
</div>
<figure class="portrait">
	<img src={urlFor(image)} alt="welcomeImage" class="image"/>
</figure>


